# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Entornos virtuales
.venv/
env/
venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de log
*.log

# Archivos de navegador o temporales
Cache/
AppData/
*.sqlite

